@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrCalendarWrapper {
  width: 100%;
  font-size: 16px !important;
}
.rdrMonth {
  width: 100% !important;
}

.rdrDayToday .rdrDayNumber span:after {
  /* background: #7b61ff !important; */
  background: #0d0d0e !important;
}
